    <footer class="py-5 footer">
      <div class="container">
        <div class="container sns text-center">
          <a class='sns-link' href='https://c9.io/syulikelion' target="_blank">
            <img class='sns-icon' src='/assets/cloud9'/> 
          </a>
          <a class='sns-link' href='https://github.com/likelion-sahmyook' target="_blank">
            <img class='sns-icon' src='/assets/github-badge'/>
          </a>
          <a class='sns-link' href='mailto:sahmyook@likelion.org'>
            <img class='sns-icon' src='/assets/mail'/>
          </a>
        </div>
        
        <div class="fb-btnbox center">
          <%= render "posts/fb-btn" %>
        </div>  
        
        <div class='footer'>
          <p class="m-0 text-center">&copy; 2018 LIKELION SAHMYOOKUNIVERSITY </p>
          <p class="m-0 text-center">Hosted on GitHub Pages  <img class='copy-icon' src='/assets/github-logo2'/>  Using Bootstrap Template.<p>
        </div>
      </div>
    </footer>